/*--------------------------------------------------------------
# Navbar Top
--------------------------------------------------------------*/
.navbar {
  height: 90px;
  transition: all 0.5s;
  background: #f2f2f2;
}

/*--------------------------------------------------------------
# Sidebar Dashboard Offcanvas
--------------------------------------------------------------*/
.offcanvas-header {
  background-color: #f2f2f2;
}

.offcanvas-body {
  background-color: #8c3839;
  color: #f2f2f2;
}

.nav-link {
  color: #f2f2f2;
}

.nav-link:hover {
  color: #000000;
}

/*--------------------------------------------------------------
# Sidebar Dashboard Offcanvas
--------------------------------------------------------------*/
.footer {
  background: #8c3839;
}